@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h4>Create Two-Wheeler Features</h4>
<a href="@Url.Action("CreateTWSpec", "TW")" class="btn btn-outline-success mb-2">Add Specification</a>
<a href="@Url.Action("CreateTWUnderpinning", "TW")" class="btn btn-outline-primary mb-2">Add Underpinning</a>
<a href="@Url.Action("CreateTWEngineAndTransmission", "TW")" class="btn btn-outline-secondary mb-2">Add Engine & Transmission</a>

