@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h4>Select Variant to Update Features</h4>
<select id="variantDropdown" class="form-control mb-3">
    <option value="">-- Select Variant --</option>
    @foreach (var variant in ViewBag.Variants as List<SelectListItem>)
    {
        <option value="@variant.Value">@variant.Text</option>
    }
</select>

<div id="updateLinks" style="display:none;">
    <a id="updateSpecLink" class="btn btn-outline-success mb-2">Update Specification</a>
    <a id="updateUnderpinningLink" class="btn btn-outline-primary mb-2">Update Underpinning</a>
    <a id="updateEngineLink" class="btn btn-outline-secondary mb-2">Update Engine & Transmission</a>
    <!-- Add more as needed -->
</div>

<script>
    $('#variantDropdown').change(function () {
        var variantId = $(this).val();
        if (variantId) {
            $('#updateLinks').show();
            $('#updateSpecLink').attr('href', '/TW/EditTWSpec/');
            $('#updateUnderpinningLink').attr('href', '/TW/EditTWUnderpinning/');
            $('#updateEngineLink').attr('href', '/TW/EditTWEngineAndTransmission/');
        } else {
            $('#updateLinks').hide();
        }
    });
</script>
