@model TwoWheeler
<!--For truncate-->
@functions {
    public string Truncate(string input, int length)
    {
        if (string.IsNullOrEmpty(input) || input.Length <= length)
            return input;
        return input.Substring(0, length) + "...";
    }
}

<div class="blogs-section">
    <div class="row">
        <div class="col-lg-2 col-md-2 blog-head-box">
            <div class=" blog-head ">
                <h1 class=""><a asp-controller="Blogs" asp-action="Index">Blogs</a></h1>
            </div>
        </div>
        <div class="col-lg-10 col-md-10 blogs-section">
            <button class="scroll-button left" onclick="scrollLeft()">&#128896;</button>
            <div class=" blogs-container" id="blogsContainer">
                @foreach (var blogs in ViewBag.Blogs)
                {
                    <div class="blogs-item">
                        <section>
                            <a href="/@blogs.URL" style="text-decoration:none">
                                <div class="blog-img"><img src="@blogs.ImageURL" alt="@blogs.BlogHeading" loading="lazy" title="@blogs.BlogHeading" /></div>
                                <div class="upcoming-bike-name">@Truncate(@blogs.BlogHeading, 56)</div>
                            </a>
                        </section>
                    </div>
                }
            </div><button class="scroll-button right" onclick="scrollRight()">&#128898;</button>
        </div>
    </div>
</div>