<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Cars_Bikes</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    @* <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> *@
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <!--<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />-->
    <!--<link rel="stylesheet" href="~/Cars_Bikes.styles.css" asp-append-version="true" />-->
</head>
<body>
    <header id="navbar" class="nav-header">
        <div class="navbar-container">
            <nav>
                @* <div class="logo">Logo</div> *@
                <ul class="nav-links" id="nav-links">
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-controller="Home" asp-action="TWCompare">Compare</a></li>
                    <li><a asp-controller="AboutUs" asp-action="Index">About Us</a></li>
                    <li><a href="javascript:void(0);" id="contact-link">Contact</a></li>
                </ul>
                <div class="hamburger" id="hamburger">
                    <i class="bi bi-list"></i>
                </div>
            </nav>
            <div class="overlay" id="overlay">
                <span class="close-btn" id="closeBtn"><i class="bi bi-x"></i></span>
                <div class="overlay-content">
                    
                    <ul class="overlay-links">
                        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-controller="Home" asp-action="TWCompare">Compare</a></li>
                        <li><a asp-controller="AboutUs" asp-action="Index">About Us</a></li>
                        <li><a href="javascript:void(0);" id="contact-link">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="contact-form-popup" id="contactFormPopup">
        <div class="contact-form-content">
            <span class="close-btn" id="contactFormClose"><i class="bi bi-x"></i></span>
            <h2>Contact Us</h2>
            <form>
                <label for="name">Name</label>
                <input type="text" id="name" name="name" required>
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
                <label for="message">Message</label>
                <textarea id="message" name="message" required></textarea>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
    <div class="container-fluid">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>

    <!-- Footer -->
<footer class="site-footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <!--<div class="col-md-3 col-sm-6 col-xs-6 footer-col-4">
                    <div class="widget widget_about">
                        <div class="logo-footer"><img src="images/logo-light.png" alt=""></div>
                        <p class="m-tb20"><strong>CarZone</strong> is simply dummy text of the print ing and in type setting industry. Lorem Ipsum has bee the industry's standard...</p>

                        <ul class="dlab-contact-info">
                            <li><i class="flaticon-placeholder"></i>Demo Address #8901 Marmora Road Chi Minh City, Vietnam</li>
                            <li><i class="flaticon-customer-service"></i>Phone : 0800-123456 (24/7 Support Line)</li>
                        </ul>
                    </div>
                </div>-->
                <div class="col-md-6 col-sm-6 col-xs-6 footer-col-4">
                    <div class="widget widget_services">
                        <h4 class="m-b15 text-uppercase">Useful Links</h4>
                        <div class="dlab-separator bg-primary"></div>
                        <ul>
                            @* <li><a href="new-car-latest.html">News</a></li> *@
                                <li><a asp-controller="Home" asp-action="TWUpcomingBikeDetails">Upcoming Cars</a></li>
                            @* <li><a href="used-car-search.html">Review</a></li> *@
                            <!--<li><a href="used-car-sell.html">Car Sell</a></li>-->
                                <li><a asp-controller="Home" asp-action="TWCompare">Compare</a></li>
                                <li><a asp-controller="AboutUs" asp-action="Index">About Us</a></li>
                        </ul>
                    </div>
                </div>
                <!--<div class="col-md-3 col-sm-6 col-xs-6 footer-col-4">
                    <div class="widget recent-posts-entry">
                        <h4 class="m-b15 text-uppercase">recent posts </h4>
                        <div class="dlab-separator bg-primary"></div>
                        <div class="widget-post-bx">
                            <div class="widget-post clearfix">
                                <div class="dlab-post-media"> <img src="images/blog/recent-blog/pic1.jpg" alt="" width="200" height="143"> </div>
                                <div class="dlab-post-info">
                                    <div class="dlab-post-header">
                                        <h5><a href="blog-single.html">Time to change...</a></h5>
                                    </div>
                                    <div class="dlab-post-meta">
                                        <ul>
                                            <li class="post-author">By Admin</li>
                                            <li class="post-comment"><i class="fa fa-comments"></i> 28</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-post clearfix">
                                <div class="dlab-post-media"> <img src="images/blog/recent-blog/pic2.jpg" alt="" width="200" height="160"> </div>
                                <div class="dlab-post-info">
                                    <div class="dlab-post-header">
                                        <h5><a href="blog-single.html">Time to change...</a></h5>
                                    </div>
                                    <div class="dlab-post-meta">
                                        <ul>
                                            <li class="post-author">By Admin</li>
                                            <li class="post-comment"><i class="fa fa-comments"></i> 28</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-post clearfix">
                                <div class="dlab-post-media"> <img src="images/blog/recent-blog/pic3.jpg" alt="" width="200" height="160"> </div>
                                <div class="dlab-post-info">
                                    <div class="dlab-post-header">
                                        <h5><a href="blog-single.html">Time to change...</a></h5>
                                    </div>
                                    <div class="dlab-post-meta">
                                        <ul>
                                            <li class="post-author">By Admin</li>
                                            <li class="post-comment"><i class="fa fa-comments"></i> 28</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->
                <div class="col-md-6 col-sm-6 col-xs-6 footer-col-4">
                    <div class="widget ">
                        <h4 class="m-b15 text-uppercase">Newsletter </h4>
                        <div class="dlab-separator bg-primary"></div>
                        <p class="m-tb20">Keep up on our always evolving products features and technology. Enter your e-mail and subscribe to our newsletter.</p>
                        <form action="script/mailchamp.php" method="post" class="dlab-subscribe-form dzSubscribe">
                            <div class="dzSubscribeMsg"></div>
                            <div class="input-group m-b15">
                                <input name="dzEmail" required="required" type="email" class="form-control" placeholder="Enter Your Email">
                            </div>
                            <div class="input-group">
                                <button name="submit" value="Submit" type="submit" class="site-button btn-block">
								SUBSCRIBE <i class="fa fa-angle-right font-18 m-l10"></i>
							</button>
                            </div>
                        </form>
                    </div>
                    <ul style="display: flex; list-style:none; gap:20px; align-items:center">    <li><a href="#" class="site-button-link facebook hover"><i class="fa fa-facebook"></i></a></li>
    <li><a href="#" class="site-button-link google-plus hover"><i class="fa fa-google-plus"></i></a></li>
    <li><a href="#" class="site-button-link twitter hover"><i class="fa fa-twitter"></i></a></li>
    <li><a href="#" class="site-button-link linkedin hover"><i class="fa fa-linkedin"></i></a></li>
</ul>
                </div>
            </div>
           <!-- <div class="clearfix">
                <ul class="full-social-icon clearfix">
                    <li class="fb col-md-3 col-sm-6 col-xs-6 m-b30">
                        <a href="#"><i class="fa fa-facebook"></i> Share On Facebook </a>
                    </li>
                    <li class="tw col-md-3 col-sm-6 col-xs-6 m-b30">
                        <a href="#"><i class="fa fa-twitter"></i> Tweet About it </a>
                    </li>
                    <li class="gplus col-md-3 col-sm-6 col-xs-6 m-b30">
                        <a href="#"><i class="fa fa-google-plus"></i> Google Plus | 78+ </a>
                    </li>
                    <li class="linkd col-md-3 col-sm-6 col-xs-6 m-b30">
                        <a href="#"><i class="fa fa-linkedin"></i> Linkedin | 21k </a>
                    </li>
                </ul>
            </div>-->
        </div>
    </div>
    <!-- footer bottom part -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 text-left"> © Copyright 2024 Voxtus Developed By <a href="https://voxtus.com/" target="_blank">Voxtus</a> </div>
                <div class="col-md-6 col-sm-6 text-right ">
                    <a href="page-about.html"> About Us</a> |
                    <a href="page-privacy-policy.html"> Contact Us</a> |
                    <a href="page-about.html"> Privacy Policy</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer END-->
    <!--<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>-->
    <!--<script src="~/js/site.js" asp-append-version="true"></script>-->
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<link href="~/css/site.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

<link href="~/css/plugins.css" rel="stylesheet" />
<link href="~/css/style.min.css" rel="stylesheet" />
<link href="~/css/templete.min.css" rel="stylesheet" />
<link href="~/css/skin/skin-1.css" rel="stylesheet" />
<link href="~/plugins/revolution/v5.4.3/css/navigation.css" rel="stylesheet" />
<link href="~/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/plugins/revolution/v5.4.3/css/settings.css" rel="stylesheet" />


 <script src="~/js/jquery.min.js"></script>
 <script src="~/js/wow.js"></script>
 <script src="~/js/bootstrap.min.js"></script>
 <script src="~/js/bootstrap-select.min.js"></script>
 <script src="~/js/jquery.bootstrap-touchspin.js"></script>
 <script src="~/js/magnific-popup.js"></script>
 <script src="~/js/waypoints-min.js"></script>
 <script src="~/js/counterup.min.js"></script>
 <script src="~/js/imagesloaded.js"></script>
 <script src="~/js/masonry-3.1.4.js"></script>
 <script src="~/js/masonry.filter.js"></script>
 <script src="~/js/owl.carousel.js"></script>
 <script src="~/js/dz.carousel.js"></script>
 <script src="~/js/dz.ajax.js"></script>

 <script src="~/plugins/revolution/v5.4.3/js/jquery.themepunch.revolution.min.js"></script>
 <script src="~/plugins/revolution/v5.4.3/js/jquery.themepunch.tools.min.js"></script>
 <script src="~/plugins/revolution/v5.4.3/js/extensions/revolution.extension.actions.min.js"></script>
 <script src="~/plugins/revolution/v5.4.3/js/extensions/revolution.extension.carousel.min.js"></script>
 <script src="~/plugins/revolution/v5.4.3/js/extensions/revolution.extension.kenburn.min.js"></script>
 <script src="~/plugins/revolution/v5.4.3/js/extensions/revolution.extension.layeranimation.min.js"></script>
 <script src="~/plugins/revolution/v5.4.3/js/extensions/revolution.extension.migration.min.js"></script>
 <script src="~/plugins/revolution/v5.4.3/js/extensions/revolution.extension.parallax.min.js"></script>
 <script src="~/plugins/revolution/v5.4.3/js/extensions/revolution.extension.slideanims.min.js"></script>
 <script src="~/plugins/revolution/v5.4.3/js/extensions/revolution.extension.video.min.js"></script>
 <script src="~/js/rev.slider.js"></script>
 <script src="~/js/modernizr.custom.js"></script>
 <script src="~/js/jquery.hoverdir.js"></script>
 @* <script src="~/js/custom.min.js"></script> *@
<script>
    jQuery(document).ready(function () {
        'use strict';
        dz_rev_slider_1();
    }); /*ready*/
</script>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const navbar = document.getElementById('navbar');
        const overlay = document.getElementById('overlay');
        const hamburger = document.getElementById('hamburger');
        const closeBtn = document.getElementById('closeBtn');
        const contactLink = document.getElementById('contact-link');
        const contactFormPopup = document.getElementById('contactFormPopup');
        const contactFormClose = document.getElementById('contactFormClose');

        // Toggle overlay menu
        hamburger.addEventListener('click', () => {
            overlay.style.display = 'block';
        });

        closeBtn.addEventListener('click', () => {
            overlay.style.display = 'none';
        });

        // Show contact form popup
        contactLink.addEventListener('click', () => {
            contactFormPopup.style.display = 'flex';
        });

        // Close contact form popup
        contactFormClose.addEventListener('click', () => {
            contactFormPopup.style.display = 'none';
        });

        // Change navbar color on scroll
        window.addEventListener('scroll', () => {
            if (window.scrollY > 50) {
                navbar.classList.remove('transparent');
                navbar.classList.add('white-bg');
            } else {
                navbar.classList.remove('white-bg');
                navbar.classList.add('transparent');
            }
        });

        // Initial navbar color
        if (window.scrollY <= 50) {
            navbar.classList.add('transparent');
        }
    });</script>