@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

@if (Context.Session.GetString("Username") != null)
{
    <p>Welcome, @Context.Session.GetString("Username")</p>
    <a href="/Account/Logout">Logout</a>
}