@model Cars_Bikes.Models.TWEVChassisAndSuspension
<body>
    <div class="header-img"> <img src="~/images/main-slider/header.png" /></div>
    <div class="container">
        <div class="row justify-content-center align-items-center" style="min-height: 80vh;">
            <!-- only 80% screen height -->
            <form asp-controller="AdminLogin" asp-action="Logout" method="post">
                <button type="submit" class="btn btn-danger btn-sm">Logout</button>
            </form>
            <div class="col-md-8 col-lg-6">
                <!-- middle sized form -->
                <h2 class="text-center mb-4">Delete Chasis Features</h2>
                <div class="card shadow-lg p-4">
                    <h3>Are you sure you want to delete @Model.TWName - @Model.Varients?</h3>
                    <form asp-action="DeleteTWEVChassisandSuspension">
                        <input type="hidden" asp-for="TWEVChassisAndSuspensionId" />
                        <button type="submit" class="btn btn-danger">Yes, Delete</button>
                        <a asp-action="ListTWEVChassisandSuspension" class="btn btn-secondary">Cancel</a>
                    </form>
                </div>
            </div>

        </div>
    </div>

</body>