<!--html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /*margin-bottom: 60px;*/
}-->
/* Upcoming bikes styles */
.upcoming-bikes-section {
    /*background: linear-gradient(#ccc, #475372, #78829A, #9EA3AD, #fff);*/
    /*background: rgba(255, 255, 255, 0.9);*/
    padding: 15px;
    text-align: center;
    position: relative;
}

.upcoming-bikes-head {
    background-color: #fff;
    padding: 2px;
    border-radius: 3px;
    margin-bottom: 20px;
}

    .upcoming-bikes-head h1 {
        font-size: 2em;
        color: #475372;
        margin: 0;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        letter-spacing: 1px;
    }

.upcoming-bikes-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; /* Firefox */
}

    .upcoming-bikes-container::-webkit-scrollbar {
        display: none; /* Webkit */
    }

.upcoming-bike-item {
    flex: 0 0 100%;
    scroll-snap-align: start;
    background: #fff;
    margin: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

@media (min-width: 768px) {
    .upcoming-bike-item {
        flex: 0 0 33.333%;
    }
}

@media (max-width: 767px) {
    .upcoming-bike-item {
        /*flex: 0 0 33.3333%;*/
        flex: 0 0 100%;
    }
}

.upcoming-bike-item:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
    background: #f8fafb;
}
.upcoming-bike-img:hover {
    background: rgba(255, 255, 255, 1);
}

.upcoming-bike-img img {
    max-width: 100%;
    height: 100%;
    object-fit: contain;
}
.upcoming-bike-img {
    max-width: 100%;
    height: 250px;
    background: #f0f0f0; /* Light gray background for transparency */
    padding: 10px;
    border-radius: 5px;
    align-content:center;
}
.upcoming-bike-name {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.8);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.upcoming-bike-date {
    font-size: 14px;
    color: #555;
    margin-top: 5px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.upcoming-bike-details {
    margin-top: 10px;
    font-size: 14px;
}

.scroll-button, .scroll-button-vfm, .scroll-button-ub, .scroll-button-ln{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.8);
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
    transition: background 0.3s ease;
}

.scroll-button.left, .scroll-button-vfm.left-vfm, .scroll-button-ub.left-ub, .scroll-button-ln.left-ln {
    left: 0;
}

.scroll-button.right, .scroll-button-vfm.right-vfm, .scroll-button-ub.right-ub, .scroll-button-ln.right-ln {
    right: 0;
}

.scroll-button:hover, .scroll-button-vfm:hover, .scroll-button-ub:hover, .scroll-button-ln:hover {
    background: rgba(255, 255, 255, 1);
}

 /*--------Latest News Style-------------*/
/*.latest-section-head {
    text-align: center;
    margin: 20px 0;
}*/

    /*.section-head h3 {
        font-size: 2em;
        margin-bottom: 20px;
        text-transform: uppercase;
    }*/

.navlatestnews {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

    .navlatestnews li {
        margin: 0 10px;
    }

    .navlatestnews a {
        padding: 10px 20px;
        background: #EEEEEE;
        color: white;
        border-radius: 5px;
        cursor: pointer;
        transition: background 0.3s ease;
        text-decoration: none;
    }

        .navlatestnews a.active,
        .navlatestnews a:hover {
            background: #D81517;
            color: white;
            text-decoration:none;
        }

.tab-lscontent {
    display: none;
    position: relative;
}

    .tab-lscontent.active {
        display: block;
    }

.latest-news-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    flex-wrap: nowrap;
}

    .latest-news-container::-webkit-scrollbar {
        display: none;
    }

.latest-news-item {
    /*    flex: 0 0 100%;*/
    flex: 0 0 300px; /* Or a percentage if you prefer */
    scroll-snap-align: start;
    background: #fff;
    margin: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    /*display: flex;
    flex-direction: column;
    align-items: center;*/
    display: inline-block;
    width: 300px; /* Adjust as needed */
    /*margin-right: 10px;*/ /* Optional spacing */
    vertical-align: top;
}

    .latest-news-item img {
        max-width: 100%;
        height: 100%;
        margin-right: 20px;
        border-radius: 10px;
        /*justify-items: center;*/
    }

.latest-news-content {
    text-align: left;
    padding:5px;
    margin-top:15px;
}

.latest-news-heading {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.8);
    height:80px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
    .latest-news-heading p {
        color: black;
    }
.latest-news-summary {
    font-size: 14px;
    color: #666;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.ow-post-readmore {
    text-align: right;
    margin-top: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

    .ow-post-readmore a {
        text-decoration: none;
        /*color: #D81517;*/
        color: #4fa6d5;
        font-size: 16px;
        font-weight: bold;
        transition: color 0.3s ease;
    }

        .ow-post-readmore a:hover {
            color: #78829A;
        }

@media (min-width: 768px) {
    .latest-news-item {
        flex: 0 0 33.333%;
    }
}

@media (max-width: 767px) {
    .latest-news-item {
        flex: 0 0 100%;
    }
}

.scroll-btns {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    pointer-events: none;
}

.scroll-btn {
    /*background-color: rgba(0, 0, 0, 0.5);*/
    background-color: rgba(255, 255, 255, 0.8);
    /*color: white;*/
    border: none;
    padding: 10px;
    cursor: pointer;
    pointer-events: all;
    z-index: 10;
}

.scroll-btn.left {
    left: 10px;
}

    .scroll-btn.right {
        right: 10px;
    }

/*-------------------Coming Soon Page-------------------*/
.coming-soon-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #282c34;
    opacity:0.9;
    /*color: black;*/
    width: 100%;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    margin-bottom:0;
}

.coming-soon-container {
    text-align: center;
    background:#f8fafb;
    padding:50px;
    border-radius:54px;
}
    .coming-soon-container:hover {
        background: #f8fafb;
        opacity: 0.9;
    }

.coming-soon-main-container h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

    .coming-soon-container p {
        font-size: 1.2em;
        /*margin-bottom: 20px;*/
    }

.countdown {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    padding-top:20px;
}

.countdown-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1em;
}

    .countdown-item span:first-child {
        font-size: 1.9em;
        font-weight: bold;
        color: #c75463
    }

.home-button {
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: #D81517;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
    .home-button a {
        text-decoration: none;
        color: white;
    }

    .home-button:hover {
        background-color: #EA3B3D;
    }

/*------------------------Upcoming bike details page-----------------------*/
.TWupcoming-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 15px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom:30px;
    margin-top:20px;
}

.upcoming-bikes-details-row {
    display: flex;
    /*grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));*/
    flex-wrap: wrap;
    gap: 15px; /* Space between cards */
    margin: 0 auto 30px;
    max-width: 100%;
    justify-items: center;
    padding-top: 15px;
}

@media (max-width: 768px) {
    .upcoming-bikes-details-card {
        flex: 1 1 100%; /* Stacks cards vertically and takes 100% width */
        min-width: 100%;
    }
}
.upcoming-bikes-details-card {
    flex: 1 1 calc(24% - 15px);
    border: 1px solid #ddd;
    border-radius: 10px;
    background: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

    .upcoming-bikes-details-image {
        position: relative;
        width: 100%;
        height: 360px; /* Set your desired height */
        /*height: 80%;*/ /* Set your desired height */
        overflow: hidden;
        background: #ddd;
        border-radius: 10px; /* Optional: rounded corners for the image */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: box shadow for the image */
    }

        .upcoming-bikes-details-image img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            border-radius: 10px;
        }

.upcoming-bikes-details-text {
    position: absolute;
    /*bottom: 0;*/
    bottom:0;
    /*top:0;
    left: 70%;*/
    width: 100%;
    text-align: left;
    color: white;
    background: transparent linear-gradient(180deg, rgba(0, 0, 0, 0.4) -60%, #000 100%) 0% 0%;
    padding: 3px 0;
    box-sizing: border-box;
    border-bottom-left-radius: 10px; /* Optional: rounded corners for the text background */
    border-bottom-right-radius: 10px; /* Optional: rounded corners for the text background */
    padding: 20px;
}

        .upcoming-bikes-details-text h2 {
            margin-top: 0;
            padding: 0;
            font-size: 1.2em;
            font-weight: bold;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }

        .upcoming-bikes-details-text p {
            margin: 10px 0 0 0;
            padding: 0;
            font-size: 0.9em;
            line-height: 1.2;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }

.upcoming-bikes-details-content {
    flex: 2;
    padding: 40px 15px 20px 15px;
    border: 1px solid #ddd;
}
    .upcoming-bikes-details-content p {
        line-height: 1.6;
        flex-grow: 1;
        font-size: 1.1em;
        color: black;
        margin-bottom: 20px;
    }

    .upcoming-bikes-details-content ol {
        line-height: 1.6;
        flex-grow: 1;
        font-size: 1.1em;
        color: black;
        padding: 10px;
        margin-left: 30px;
    }

    .upcoming-bikes-details-content ul {
        line-height: 1.6;
        flex-grow: 1;
        font-size: 1.1em;
        color: black;
        padding: 10px;
        margin-left: 30px;
    }

    .upcoming-bikes-details-content li {
        padding: 2px 0 10px 0;
    }

    .upcoming-bikes-details-content h2 {
        margin-top: 0;
        /*color: #D81517;*/
        color: #175678;
        font-size: 1.5em;
        font-weight: bold;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    .upcoming-bikes-details-content p {
        color: #666;
        line-height: 1.6;
        flex-grow: 1;
        font-size:1.1em;
    }

    .upcoming-bikes-all-image {
        width: 100%;
        height: 150px;
        overflow: hidden;
    }

        .upcoming-bikes-all-image img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            border-radius: 10px;
        }

.upcoming-allbikes-details-content {
    padding: 20px;
    background: #F9F9F9;
}
    .upcoming-allbikes-details-content h2 {
        margin-top: 0;
        font-size: 1.2em;
        font-weight: bold;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #D81517;
        color: #175678;
    }
    .upcoming-allbikes-details-content p {
        color: #555;
    }

    .upcoming-allbikes-details-content:hover {
        /*background: transparent linear-gradient(180deg, rgba(0, 0, 0, 0.3) -60%, #000 100%) 0% 0%;*/
        background: #e5e5e5;
        color: white;
    }

.details-button {
    display: inline-block;
    padding: 8px 12px;
    margin-top: 5px;
    font-size: 1em;
    color: white;
    /*background-color: #D81517;*/
    background-color: #175678;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

    .details-button:hover {
        /*background-color: #EA3B3D;*/
        background-color: #68A4C4;
        color: white;
    }


/*<!-------------------Bootstrap row wali property------------------------------------>*/

.div-row {
    display: flex;
    flex-wrap: wrap;
}

.big-div, .small-div, .both-div {
    padding: 10px;
    box-sizing: border-box;
}

/* Default to 100% width for small screens */
.big-div, .small-div {
    flex: 0 0 100%;
    max-width: 100%;
} 
/* For larger screens */
@media (min-width: 992px) {
    .big-div {
        flex: 0 0 70%;
        max-width: 70%;
    }

    .small-div {
        flex: 0 0 30%;
        max-width: 30%;
    }
}
.for-h1 {
    font-size: 2em;
    color: #000000;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    letter-spacing: 1px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align:center;
    padding:20px 0 0 0;
}
.header-img{
    width:100%;
}
    .header-img img {
        width: 100%;
    }
/*------------------------------------Latest News Details Page---------------------------------*/
.latest-bike-head {
    font-size: 2em;
    color: #000000;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    letter-spacing: 1px;
    padding: 30px 20px 0 20px;
}
.latest-bike-description {
    font-size: 1.4em;
    /*color: #000000;*/
    margin: 0;
    letter-spacing: 1px;
    padding: 30px 20px 0 20px;
}
.latest-bikes-details-content {
    padding: 40px 20px 20px 20px;
    border: 1px solid #ddd;
}
    .latest-bikes-details-content p {
        line-height: 1.6;
        flex-grow: 1;
        font-size:1.1em;
        color:black;
        margin-bottom:20px;
    }
    .latest-bikes-details-content ol {
        line-height: 1.6;
        flex-grow: 1;
        font-size: 1.1em;
        color: black;
        padding: 10px;
        margin-left: 30px;
    }
    .latest-bikes-details-content ul {
        line-height: 1.6;
        flex-grow: 1;
        font-size: 1.1em;
        color: black;
        padding: 10px;
        margin-left: 30px;
    }
    .latest-bikes-details-content li {
        padding: 2px 0 10px 0;
    }
    .div-line{
        border-bottom:1px solid #666;
        height:2px;
        margin-bottom:40px;
    }
.image-box {
    display: flex;
    margin-bottom: 20px;
    object-fit: contain;
}
.image-box img{
    width:100%;
    height:70%;
}
.heading {
    font-size: 1.7em;
    font-weight: 600;
    margin-bottom: 15px;
}
.subheading{
    font-size:1.4em;
    font-weight:600;
    margin-bottom:15px;
    /*padding-top:20px;*/
}
.text-highlight{
    background-color:yellow;
}
.text-color{
    color:darkred;
}
.for-link {
    font-weight: 700;
    color: #4fa6d5;
    text-decoration: none;
}
    .for-link:hover {
        font-weight: 700;
        color: #0d6efd;
        text-decoration: none;
    }
.news-table {
    border-bottom: 1px solid #ccc;
}
    .news-table thead th {
        padding: 8px;
        font-weight: 500;
        background-color: #191F23;
        color: #A7A7A7;
        font-size: 16px;
        border-top: 0.4px solid #eee;
        width: 26.66%;
    }
    .news-table tbody th {
        padding: 8px;
        font-weight: 500;
        border-right: 2px solid #eee;
        font-size: 16px;
        width: 30%;
    }
    .news-table tbody td {
        margin-bottom: 20px;
        width: 70%;
        border-right: 2px solid #eee;
        margin-left: 10px;
        font-size: 16px;
    }
.latest-bike-container {
    max-width: 100%;
    margin: 0 auto;
    /*margin:15px;*/
    padding: 15px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    margin-top: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

    .latest-bike-container h2 {
        border-bottom: 1.5px solid #ebecee;
        /*font-family: Georgia, serif;*/
        padding: 0 0 5px 5px;
        font-size: 1.5em;
        font-weight: bold;
        /*color: #D81517;*/
        color: #175678;
    }
    .latest-bike-container a{
        text-decoration:none;
    }
    .detail-div {
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-items: center;
        padding-top: 20px;
    }
.latest-bike-card {
    flex: 1 1 calc(50% - 20px);
    border: 1px solid #ddd;
    border-radius: 10px;
    background: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
@media (max-width: 768px) {
    .latest-bike-card {
        flex: 1 1 100%; /* Stacks cards vertically and takes 100% width */
        min-width: 100%;
    }
}

.latest-bike-card h2 {
    margin-top: 10px;
    padding: 15px;
    font-size: 1.2em;
    /*color: #D81517;*/
    color: #175678;
    height: 80px;
    text-align: center;
}
    .latest-allbike-image {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}
    .latest-allbike-image img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 10px;
    }
.latest-bikes-details-text {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: left;
    color: white;
    background: transparent linear-gradient(180deg, rgba(0, 0, 0, 0.4) -60%, #000 100%) 0% 0%;
    /*padding: 3px 0;*/
    box-sizing: border-box;
    border-bottom-left-radius: 10px; /* Optional: rounded corners for the text background */
    border-bottom-right-radius: 10px; /* Optional: rounded corners for the text background */
    padding: 12px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    height:120px;
}
    .latest-bikes-details-text p {
        font-size: 0.8em;
        /*margin: 10px 0 0 0;*/
        padding: 0;
    }
/*.side-brand-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

    .side-brand-container h2 {
        border-bottom: 1.5px solid #ebecee;
        padding: 0 0 5px 5px;
        font-size: 1.5em;
        font-weight: bold;
    }*/
    .side-brand {
        float: left;
        outline: 1px solid rgba(0, 0, 0, 0.1);
        /*outline-offset: -3px;*/
        padding: 3px;
        text-align: center;
        /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
        width: 33.33%;
        height: 125px;
        margin-top: 20px;
    }

        .side-brand:hover {
            /*background-color: red;*/
            background-color: #68A4C4;
            color: white;
            font-size: 1.2em;
        }

.side-brand-img {
    width: 100%;
    height: 55%;
    overflow: hidden;
}

    .side-brand-img img {
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
    .side-brand-img i{
        font-size:40px;
    }
    .side-brand-text {
        width: 100%;
        box-sizing: border-box;
        align-items: center;
        padding: 5px;
    }

    .side-brand-text h4 {
        font-size: 0.8em;
        font-weight: 700;
        align-items: center;
    }
/*---------------------------Brand Details Page---------------*/
.brand-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 30px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
    .brand-container h1 {
        text-align: center;
        color: #333
    }
.brand-bike-card {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    background: #fff;
    align-items:center
}
.brand-bike-image {
    flex: 1;
    min-width: 250px;
    max-width: 350px;
}
    .brand-bike-image img {
        width: 100%;
        border-radius: 10px;
    }
.brand-bike-details {
    flex: 2;
    padding: 10px;
}
    .brand-bike-details h2 {
        margin-top: 0;
        /*color: #D81517;*/
        color: #175678;
        font-size: 1.5em;
        font-weight: 600;
    }
    .brand-bike-details h3 {
        margin-top: 0;
        font-size: 1.2em;
    }
    .brand-bike-details p {
        color: #666;
        line-height: 1.6;
    }
/*.all-brand-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;*/ /* Adjust spacing between brand cards */
    /*padding: 20px 0;
}*/
.all-brand-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    transition: max-height 0.4s ease;
    padding:20px 0 20px 0;
    overflow: hidden;
}
.all-brand-grid-wrapper.collapsed .all-brand-grid {
    max-height: 350px; /* Adjust to fit ~2 rows */
}

.view-more-container {
    text-align: start;
    margin-top: 25px;
    padding:10px;
}

.view-more-text {
    color: #4fa6d5;
    cursor: pointer;
    font-weight: 700;
    text-decoration: none;
    font-size: 15px;
}

    .view-more-text:hover {
        color: #78829A;
    }
   
@media (max-width: 1024px) {
    .all-brand-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 600px) {
    .all-brand-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
.All-brand-container {
    /* Optional: add styling */
    text-align: center;
}

.All-brand {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 10px;
    transition: transform 0.2s ease;
    height: 155px;
}

    .All-brand:hover {
        transform: scale(1.05);
        background-color: #68A4C4;
        color: white;
    }

.side-all-brand-text {
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    padding: 5px;
}

    .side-all-brand-text h4 {
        font-size: 1.1em;
        font-weight: 700;
        align-items: center;
    }

        /*---------------------------TwoWheeler Details Page--------------------------*/
        .linkmaincontainer {
    border: 1px solid #ccc;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 10px;
    border-radius: 10px;
    padding-right: 8px;
    background: white;
}

.ddnvarient {
    border: 1.5px solid #e1e6eb;
    box-shadow: none;
    height: 47px;
    font-size: 15px;
    line-height: 20px;
    /*padding: 9px 12px;*/
    width: 100%;
    border-radius: 4px;
    background-color: #eee;
    /*background-color: #e8f4fa;*/
    color: #333;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

    .ddnvarient:focus {
        border-color: #007bff;
        box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
        outline: none;
        height: contain;
    }

    .ddnvarient option {
        font-size: 14px;
        font-weight: 500;
        padding: 5px;
    }

/*   .ddnvarient option:hover,
            .ddnvarient option:focus {
                background: red;
                color: white;
            }

            .ddnvarient -select {
                background: red;
                color: white;
            }

            .ddnvarient option:disabled {
                color: #999;
            } */
.linkcontainer {
    display: flex;
    height: 650px;
    padding-top: 15px;
    padding-bottom: 10px;
}
.horizontal-nav {
    display:block;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    background: #175678;
    /*background: #f8f9fa;*/
    padding: 10px;
    border-bottom: 1px solid #ccc;
    color:white;
}

    .horizontal-nav ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .horizontal-nav li {
        padding: 10px 15px;
        cursor: pointer;
        display: inline-block;
        border-right: 1px solid #ccc;
        color:white;
    }
.highlight-nav li.active {
    /*background-color: #e82527;*/
    background-color: #175678;
    color: #fff;
}

        .horizontal-nav li:last-child {
            border-right: none;
        }
.fixed {
    position: sticky;
    top: 80px;
    overflow: hidden;
    MaxScrollPos = MaxRangeValue - (PageSize - 1);
    /*background-color: #333;*/
}
.highlight {
    left: 0;
    /*width: 220px;*/
    /* padding-top: 20px; */
    border-right: 1px solid #ccc;
    height: 100%;
    padding: 10px 5px 5px 5px;
    overflow-y: hidden;
}

    .highlight ul {
        list-style: none;
        padding: 0;
        font-family: inherit;
    }

    .highlight li {
        padding: 10px;
        cursor: pointer;
    }

        .highlight li.active {
            /*background-color: #e82527;*/
            background-color: #68A4C4;
            color: #fff;
        }

.content {
    /* margin-left: 220px; */
    padding-top: 5px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

section {
    /*  padding: 20px 0; */
    /* border-bottom: 1px solid #ccc; */
}

.contentheading {
    margin-left: 10px;
    margin-right: 10px;
    padding: 8px;
    font-weight: 500;
    background-color: #191F23;
    color: #A7A7A7;
}

.contenttable {
    border-bottom: 1px solid #ccc;
}

    .contenttable th {
        width: 30%;
        /* border:1px solid black; */
    }

    .contenttable td {
        width: 70%;
    }

.sideboxdetails {
    float: left;
    outline: 1px solid rgba(0, 0, 0, .1);
    outline-offset: -3px;
    padding: 6px;
    text-align: center;
    width: 33.33%;
    height: 155px;
}

    .sideboxdetails:hover {
        /*background: red;*/
        background: #68A4C4;
        color: white;
        cursor: pointer;
    }

    .sideboxdetails i {
        font-size: 28px
    }

    .sideboxdetails h6 {
        font-weight: 700;
        font-size: 14px;
        height: 30px;
    }
.bike-dl {
    border: 1px solid rgba(0, 0, 0, .1);
    padding:30px;
}
.dl {
    background-color: #efefef;
    margin: -30px -30px;
    padding: 15px 30px;
}
.tw-img {
    max-width: 100%;
    height: auto;
    /*background: #f0f0f0;*/ /* Light gray background for transparency */
    margin: 10px;
    border-radius: 5px;
}

        .tw-img img {
            max-width: 100%;
            height: 100%;
            object-fit: contain;
        }

    .tw-notes {
        font-size: 1.1em;
        font-weight: 600;
        padding-top: 10px;
        color: #D81517;
    }
    /*---------------------Nav Bar/ slide part or search part------------------------*/
.nav-header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    /*transition: background-color 0.3s;*/
    background-color: #1e4356;
}

    .navbar-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }

        .navbar-container nav {
            display: flex;
            align-items: end;
            width: 100%;
        }

    .logo {
        font-size: 24px;
        font-weight: bold;
        width:80px;
        height:40px;
        /*width:90px;*/
        /*height:70px;*/
    }
/*@media (max-width: 768px) {
    .search-div {
        width: 85%;
        margin-left: auto;
        position: relative;
    }
}*/
/*@media (max-width: 767px) {
    .search-div {
        width: 78%;
    }
}*/
    .search-div {
        width:34%;
        /*        width: 44%;*/
        /*margin-left: auto;*/
        position: relative;
        margin: auto;
}

    .for-search {
        display: block;
        width: 100%;
        height: 36px;
        padding: 6px 12px;
        font-size: 16px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 24px;
        /*margin-top: 10px;*/
    }

    .search-icon {
        position: absolute;
        top: 20%;
        right: 3%;
        font-size: 18px;
        cursor: pointer;
    }

    .nav-links {
        list-style: none;
        display: flex;
        margin: 0;
        padding-right: 50px;
        /*margin-left: auto;*/
    }

        .nav-links li {
            margin-left: 20px;
        }

        .nav-links a {
            text-decoration: none;
            color: #fff;
            font-weight: 600;
            font-size: 18px;
            cursor: pointer;
        }

            .nav-links a:hover {
                /*color: #D81517;*/
                color: #68A4C4;
                text-decoration: none;
            }

    .hamburger {
        display: none;
        flex-direction: column;
        cursor: pointer;
        font-size: 30px;
        margin-left: auto;
    }

        .hamburger i {
            width: 30px;
            height: 30px;
            margin: 5px;
            color: #ccc;
        }

    .overlay {
        display: none;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.9);
        z-index: 1001;
    }

    .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }

    .overlay-links {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        .overlay-links li {
            margin: 40px 0;
        }

        .overlay-links a {
            text-decoration: none;
            font-size: 18px;
            color: white;
            display: block;
            transition: 0.3s;
        }

    .close-btn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 30px;
        color: white;
        cursor: pointer;
    }

header.transparent {
    /*    background-color: rgba(255, 255, 255, 0);*/
    /*background-color: #175678;*/
    background-color: #4B6978;
}

    @media (max-width: 768px) {
        .nav-links {
            display: none;
        }

            .nav-links li {
                margin: 20px 0;
            }

        .hamburger {
            display: flex;
        }
        .search-div {
            width: 70%;
        }
        #verticalNav {
            display: none;
        }
    }

    .nav-links.active {
        display: flex;
    }

.transparent {
    /*background-color: transparent;*/
    background-color: #2b6482;
}

.white-bg {
    /*background-color: rgba(0, 0, 0, 0.4);
        box-shadow: 0 4px 2px -2px gray;*/
    background-color: rgba(30, 67, 86, 0.8);
    box-shadow: 0 4px 2px -2px gray;
}
.search-main-container{
    position: absolute;
    top: 30%;
    left:5%;
    /*width: 100%;*/
}
.search-container {
    background-color: rgba(255, 255, 255, .95);
    max-width: 360px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .3);
    overflow: hidden;
}

    .search-head {
        background-color: #68A4C4;
        margin-bottom: 40px;
        position: relative;
        text-align: center;
        padding: 5px;
        z-index: 5;
        border-bottom-right-radius: 550px
    }

        .search-head h2 {
            font-size: 20px;
            color: #fff;
            text-transform: uppercase;
            margin: 0;
            padding: 15px 15px 5px 15px;
        }

    .search-bottom {
        padding: 0 30px 30px 30px;
    }
.search-ddn{
    margin-bottom:20px
}
/* New CSS for Contact Form Popup */
.contact-form-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 1002;
    justify-content: center;
    align-items: center;
}

    .contact-form-content {
        background: white;
        padding: 20px;
        border-radius: 10px;
        position: relative;
        width: 90%;
        max-width: 400px;
        text-align: left;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

        .contact-form-content h2 {
            margin-top: 0;
        }

        .contact-form-content .close-btn {
            position: absolute;
            top: 1px;
            right: 10px;
            font-size: 30px;
            cursor: pointer;
            color: black;
        }

        .contact-form-content form {
            display: flex;
            flex-direction: column;
        }

        .contact-form-content label {
            margin: 10px 0 5px;
            font-size: 15px;
        }

        .contact-form-content input,
        .contact-form-content textarea {
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .contact-form-content button {
            padding: 10px;
            border: none;
            /*background: #D81517;*/
            background: #175678;
            color: white;
            font-size: 16px;
            border-radius: 5px;
            cursor: pointer;
        }

            .contact-form-content button:hover {
                /*background: rgba(255,0,0,0.8);*/
                background: #68A4C4;
            }
    /*----------slide part-------*/
    .slider {
        position: relative;
        width: 100%;
        /*max-width: 800px;*/
        margin: auto;
        overflow: hidden;
        border: 2px solid #ddd;
        /*border-radius: 10px;*/
    }

    .slides {
        display: flex;
        transition: transform 0.5s ease-in-out;
        width: 100%; /* 3 images, so 300% width */
    }

    .slide {
        min-width: 100%;
        box-sizing: border-box;
        height: 520px;
    }

        .slide img {
            width: 100%;
            /*border-radius: 10px;*/
            height: 100%;
        }

/*--------------------Contact Us Page/ About Us Page------------------------------*/
    .map {
        width: 100%;
        height: 400px;
    }

        .map iframe {
            width: 100%;
            height: 100%
        }

    .contact-details-container {
        padding: 15px;
        margin-top: 20px;
        justify-items: center;
        align-items: center;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    .contact-details-info {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        padding: 20px;
        margin: 10px;
        text-align: center;
    }

        .contact-details-info i {
            font-size: 28px;
            font-weight: 600;
            height: 50px;
            /*color: #D81517;*/
            color: #175678;
        }

        .contact-details-info h3 {
            font-size: 18px;
            font-weight: 600;
            /*color: #D81517;*/
            color: #175678;
        }

    .contact-form {
        padding: 25px;
        margin-top: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
    }

        .contact-form label {
            margin: 10px 0 5px;
            font-size: 15px;
        }

        .contact-form input,
        .contact-form textarea {
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

.contact-form-button {
    padding: 10px;
    border: none;
    /*background: #D81517;*/
    background: #175678;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

    .contact-form-button:hover {
        /*background: rgba(255,0,0,0.8);*/
        background: #68A4C4;
    }

    .aboutus-content {
        position: relative;
        width: 100%;
        height: 550px;
        top: 0;
        left: 0;
        z-index: 1000;
        margin-top: 20px;
    }

    @media (max-width: 768px) {
        .aboutus-content {
            height: 200vh;
        }
    }

    .aboutus-content img {
        width: 100%;
        height: 100%;
        opacity: 0.6;
    }

    .aboutus-text {
        /*position: absolute;*/
        /*top: 25%;
        left: 30%;
        transform: translate(-30%, -26%);*/
        width: 100%;
        padding: 20px 30px 20px 30px;
    }

        .aboutus-text p {
            margin-bottom: 40px;
            color: black;
        }

        .aboutus-text h2 {
            font-size: 1.5em;
            margin-bottom: 20px;
            margin-top: 20px;
            /*color: #D81517;*/
            color: #175678;
            font-weight: 600;
        }
        .aboutus-text h1 {
            color: #175678;
        }
        .aboutus-text ul li{
            margin-left:10px;
        }
        /*--------------------Compare Page------------------------------*/
        .compare-container {
            max-width: 100%;
            margin: 0 auto;
            /*padding: 15px;*/
            background: white;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-top: 20px;
            padding: 10px 0 20px 0;
        }
.compare-container p{
    margin: 20px;
    font-size:1.2em;
}
    .compare-container h3 {
        margin: 20px;
        /*color: #D81517;*/
        color: #175678;
        font-weight: 600;
    }
.compare-box {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
    text-align:center;
}
.compare-card img {
    width:50%;
    opacity: 0.8;
    margin-bottom:10px;
    height:117.9px;
    object-fit:fill;
}
.compare-card {
    padding: 0 30px 30px 30px;
    box-shadow: 0 16px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    width: 27%;
    margin: 25px;
    border-top-left-radius:160px;
    border-bottom-right-radius:70px;
}
@media (max-width: 767px) {
    .compare-card {
        flex: 0 0 45%;
        padding: 10px;
        margin: 2px;
    }
}
.compare-ddl{
    margin-bottom:20px;
}
.ddlcompare {
    border: 1.5px solid #e1e6eb;
    box-shadow: none;
    height: 30px;
    font-size: 14px;
    line-height: 20px;
    /*padding: 9px 12px;*/
    width: 100%;
    border-radius: 4px;
    /*background-color: #e8f4fa;*/
    background-color: #eee;
    color: #555;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}
.compareButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:12.5%;
    margin-right:12.5%;
    margin-bottom:20px;
}
.compareButton button{
    width:250px;
    height:40px;
}
.comparison-table {
    /*padding: 20px 15px 5px 10px;*/
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
    margin-top:40px;
    /*padding:10px;*/
}
.compare-table-container {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom:20px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius:40px;
}
.comparison-table-content {
    border-bottom: 1px solid #ccc;
    /*margin: 0 8px 8px 8px;*/
}
.for-tick {
    position: sticky;
    top: 80px;
    background-color: #fff;
    z-index: 1;
}
    .comparison-table-content thead th {
        /*padding: 10px 0 10px 3px;*/
        background-color: #68A4C4;
        padding: 8px;
        font-weight: 500;
        background-color: #191F23;
        color: #A7A7A7;
        font-size: 16px;
        border-top: 0.4px solid #eee;
        /*width:26.66%;*/
    }
.expandable-header {
    margin: 10px 0 10px 0;
    padding: 2px 8px 2px 8px;
    font-weight: 500;
    background-color: #191F23;
    color: #A7A7A7;
    display:flex;
    width:100%;
    cursor:pointer;
}
    .expandable-header h5 {
        font-size: 16px;
        padding: 0 0 0 3px;
        margin-left: auto;
        margin-right: auto;
    }
    .expandable-header i {
        font-size: 18px;
        /*margin-left: auto;*/
        padding-top:10px;
    }
.comparison-table-content th {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;
    /*padding-left:10px;*/
    /*width: 26.66%;*/
    /*border-top: 2px solid #eee;*/
    border-right: 2px solid #eee;
    font-size: 16px;
}
.comparison-table-content td {
    font-size: 14px;
    margin-bottom: 20px;
    /*width: 26.66%;*/
    border-right: 2px solid #eee;
    margin-left: 10px;
    text-align: center;
    font-size: 16px;
}
.compare-head-text {
    background-color: #F9F9F9;
}
/*    .compare-head-text th {
        margin-top: 20px;
    }*/
    .Compare-img {
    max-width: 100%;
    height: 90%;
    /*margin: 10px;*/
    border-radius: 5px;
}
    .Compare-img img {
        max-width: 100%;
        height: 80%;
        object-fit:fill;
    }
/*------------------------------------------Blogs section-------------------------------------*/
.blogs-section {
    padding: 15px;
    text-align: center;
    position: relative;
}
.blog-head-box {
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    /*height: 260px;*/
    padding: 0 15px 0 15px;
    margin-top: 10%;
}
.blog-head {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex; /* Enables Flexbox */
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    height: 100%; /* Ensure the container has a height to center within */
    border-left: 4px solid #175678;
}

    .blog-head h1 {
        font-size: 2.8em;
        color: #000000;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        letter-spacing: 1px;
        margin: 0; /* Removes default margins for better alignment */
    }
.blogs-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
}
.blogs-item {
    flex: 0 0 100%;
    scroll-snap-align: start;
    background: #fff;
    margin: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}
@media (min-width: 768px) {
    .blogs-item {
        flex: 0 0 33.333%;
    }
    #horizontalNav{
        display:none;
    }
}

@media (max-width: 767px) {
    .blogs-item {
        /*flex: 0 0 33.3333%;*/
        flex: 0 0 100%;
    }
}
.blog-img {
    max-width: 100%;
    /*height: 250px;*/
    background: #f0f0f0;
    /*padding: 10px;*/
    border-radius: 5px;
    align-content: center;
    height: 200px;
}
.blog-img {
    width: 100%;
    height: 200px;
}
    .blog-img img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
.blog-main-container{
    padding:15px;
}
.image-height{
    height: 400px;
    width: 100%;
}
    .image-height img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

/*EMI Calculator*/



.main-content {
    display: flex;   
    justify-content: space-around; 
    align-items: center;
   
    background: #f5f5f5;
    padding: 5px;
}



.loan-card {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 45%;
    max-width: 400px;
    box-sizing: border-box;
    float:left;
}

    .loan-card h2 {
        margin-bottom: 20px;
        text-align: center;
        /*        color: #4a90e2;*/
        color: #175678;
    }

.form-group {
    margin-bottom: 15px;
}

    .form-group label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    .form-group input[type="range"],
    .form-group input[type="number"] {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

        .form-group input[type="number"]::-webkit-inner-spin-button,
        .form-group input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

.slider-scale {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #666;
    margin-top: -8px;
    margin-bottom: 5px;
}

.selected-text {
    margin-top: 5px;
    font-size: 14px;
    color: green;
}

.error-message {
    color: red;
    font-size: 12px;
    display: none;
}

.slider-color {
    accent-color: #337AB7;
}

.results-card {
    background: #d2eaf6;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}


    .results-card h2 {
        font-size: 26px;
        /*        color: #d9534f;*/
        color: #F3B516;
    }
    .results-card h6 {
        font-size: 24px;
        color: #ff5722;
        
    }
    .results-card .loanhighlight {
        color: #F3B516;
/*        color: #ff5722;*/
        text-align: center;
    }

    .results-card p {
        display: flex; 
        justify-content: space-between; 
        align-items: center; 
        margin: 10px 0; 
    }

        .results-card p strong {
            margin-right: 10px; 
        }

    .results-card span {

        white-space: nowrap;
    }

#resultEMI {
    font-weight: bold;
    font-size:45px;
   
    padding: 5px 10px;
   
    display: inline-block;
}


.fixed-textbox-container {
    display: flex;
    align-items: center;
}

    .fixed-textbox-container input {
        flex: 1;
    }

    .fixed-textbox-container span {
        margin-left: 5px;
        font-weight: bold;
    }


.input-wrapper {
    display: flex;
    align-items: center;
    position: relative;
}
    .input-wrapper input {
        padding-left: 10px; 

        flex:1;
       
    }

.percent-postfix,
.year-postfix {
        position: absolute;

    font-size: 14px;
    color: black;
    pointer-events: none;
}

.currency-prefix {
    position: static;
    left: 10px;
    font-size: 14px;
    color: black;
    pointer-events: none;
}
.percent-postfix,
.year-postfix {
    right: 10px; 
}



@media (max-width: 768px) {
    .main-content {
        flex-direction: column;
        align-items: center;
    }

    .loan-card, .results-card {
        width: 100%; 
    }
}


