@model Cars_Bikes.Models.TWMileageAndPerformance
<body>
    <div class="header-img"> <img src="~/images/main-slider/header.png" /></div>
    <div class="container">
        <div class="row justify-content-center align-items-center" style="min-height: 80vh;">
            <!-- only 80% screen height -->
            <form asp-controller="AdminLogin" asp-action="Logout" method="post">
                <button type="submit" class="btn btn-danger btn-sm">Logout</button>
            </form>
            <div class="col-md-8 col-lg-6">
                <!-- middle sized form -->
                <div class="card shadow-lg p-4">
<form asp-action="@ViewContext.RouteData.Values["action"]" method="post">
    <div class="form-group">
        <label>Two Wheeler Name</label>
        <input asp-for="TWName" class="form-control" />
    </div>
    <div class="form-group">
        <label>Variant</label>
        <input asp-for="Varients" class="form-control" />
    </div>
    <div class="form-group">
        <label>Overall Mileage</label>
        <input asp-for="OverallMileage" class="form-control" />
    </div>
    <div class="form-group">
        <label>City Mileage</label>
        <input asp-for="CityMileage" class="form-control" />
    </div>
    <div class="form-group">
        <label>Highway Mileage</label>
        <input asp-for="HighwayMileage" class="form-control" />
    </div>
    <div class="form-group">
        <label>Two Wheeler</label>
        <select asp-for="TwoWheelerId" asp-items="ViewBag.TwoWheelers" class="form-control"></select>
    </div>
    <div class="form-group">
        <label>Variant</label>
        <select asp-for="TWVarientId" asp-items="ViewBag.TWVarients" class="form-control"></select>
    </div>

    <button type="submit" class="btn btn-success">Save</button>
</form>
                </div>
            </div>

        </div>
    </div>

</body>