@model CompareViewModel

@{
    ViewData["Title"] = "Kawasaki Ninja vs BMW S1000RR – Superbike War ";
}
@section MetaTags {
    <meta name="keywords" content="Kawasaki Ninja vs BMW S1000RR, ZX-10R vs S1000RR comparison, BMW S1000RR vs Ninja ZX10R specs, Kawasaki Ninja top speed, BMW S1000RR horsepower, Best superbike in India 2025, Ninja ZX-10R vs S1000RR price, Kawasaki Ninja ZX10R review, S1000RR vs Ninja 1000cc, Kawasaki vs BMW superbike, BMW S1000RR features, ZX-10R vs S1000RR real mileage, S1000RR vs Ninja 1000 performance, BMW superbike vs Kawasaki Ninja, ZX10R vs S1000RR track test " />
    <meta name="description" content="Compare Kawasaki Ninja ZX-10R vs BMW S1000RR on top speed, specs, tech, and price. Find out which superbike dominates the track and street in 2025. " />
}
<div class="m-t90">


    @await Html.PartialAsync("_CompareTable", Model)
</div>
<div class="google-ad">
    <ins class="adsbygoogle"
         style="display:inline-block;width:1000px;height:200px"
         data-ad-client="ca-pub-8720291170595920"
         data-ad-slot="6204553210">
    </ins>
</div>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
@await Html.PartialAsync("_AllViewComponent")