@model CompareViewModel

@{
    ViewData["Title"] = "Gixxer vs Apache RTR 160 – 160cc Bike Showdown ";
}
@section MetaTags {
    <meta name="keywords" content="Suzuki Gixxer vs TVS Apache RTR 160, Gixxer vs Apache 160 comparison, Apache RTR 160 vs Gixxer mileage, Best 160cc bike in India 2025, Suzuki Gixxer review 2025, Apache RTR 160 top speed, Gixxer vs Apache 160 features, Suzuki vs TVS bike comparison, Gixxer 155 vs Apache RTR 160, Gixxer vs Apache real-world mileage, Apache RTR 160 specs and price, Gixxer vs Apache comfort and ride quality, Apache RTR 160 vs Gixxer performance, Best streetfighter bike under 1.3 lakh, Which is better: Gixxer or Apache 160? " />
    <meta name="description" content="Compare Suzuki Gixxer and TVS Apache RTR 160 on performance, mileage, features, and price. Discover which 160cc street bike fits your ride style in 2025. " />
}
<div class="m-t90">


    @await Html.PartialAsync("_CompareTable", Model)
</div>
<div class="google-ad">
    <ins class="adsbygoogle"
         style="display:inline-block;width:1000px;height:200px"
         data-ad-client="ca-pub-8720291170595920"
         data-ad-slot="6204553210">
    </ins>
</div>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
@await Html.PartialAsync("_AllComponent")  