@model CompareViewModel

@{
    ViewData["Title"] = "Pulsar 150 vs Apache 160 – Specs & Mileage Check ";
}
@section MetaTags {
    <meta name="keywords" content="Pulsar 150 vs Apache RTR 160, Apache 160 vs Pulsar 150 comparison, Bajaj Pulsar 150 specs, TVS Apache RTR 160 mileage, Pulsar 150 vs Apache 160 performance, Apache RTR 160 top speed, Best 150cc bike in India, Pulsar 150 vs Apache RTR 160 price, TVS vs Bajaj bike comparison, Pulsar vs Apache engine specs, Apache 160 review 2025, Bajaj Pulsar 150 mileage, Apache 160 vs Pulsar 150 drag race, Best commuter sport bike 150cc, Pulsar 150 vs Apache features " />
    <meta name="description" content="Compare Bajaj Pulsar 150 and TVS Apache RTR 160 based on price, performance, features, mileage, and engine specs. Find out which bike suits you best. " />
}
<div class="m-t90">


    @await Html.PartialAsync("_CompareTable", Model)
</div>
<div class="google-ad">
    <ins class="adsbygoogle"
         style="display:inline-block;width:1000px;height:200px"
         data-ad-client="ca-pub-8720291170595920"
         data-ad-slot="6204553210">
    </ins>
</div>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
@await Html.PartialAsync("_AllViewComponent")  