@model CompareViewModel

@{
    ViewData["Title"] = "Bajaj Platina 110 vs Pulsar 150 – Comparison Review ";
}
@section MetaTags {
    <meta name="keywords" content="Bajaj Platina 110 vs Pulsar 150, Bajaj bike comparison, Pulsar 150 specs, Platina 110 mileage, Platina vs Pulsar 2025, Bajaj Pulsar 150 features, Bajaj Platina 110 review, Pulsar 150 vs Platina 110 price, Bajaj commuter bikes comparison, Platina 110 performance, Pulsar 150 mileage, Best Bajaj bike under 1.5 lakh, Pulsar 150 engine specs, Platina 110 comfort, Bajaj bike mileage comparison " />
    <meta name="description" content="Compare Bajaj Platina 110 and Pulsar 150 on mileage, features, price, and performance. Find out which bike suits your needs in this detailed review. " />
}
<div class="m-t90">


    @await Html.PartialAsync("_CompareTable", Model)
</div>
<div class="google-ad">
    <ins class="adsbygoogle"
         style="display:inline-block;width:1000px;height:200px"
         data-ad-client="ca-pub-8720291170595920"
         data-ad-slot="6204553210">
    </ins>
</div>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
@await Html.PartialAsync("_AllViewComponent") 