@model CompareViewModel

@{
    ViewData["Title"] = "Activa 6G vs TVS Jupiter – Best 110cc Scooter? ";
}
@section MetaTags {
    <meta name="keywords" content="Activa 6G vs TVS Jupiter, Honda Activa vs TVS Jupiter, Best 110cc scooter in India 2025, Activa 6G mileage vs Jupiter, TVS Jupiter vs Activa performance, Honda Activa 6G price 2025, TVS Jupiter features and specs, Activa 6G vs Jupiter comfort, Activa vs Jupiter real-world mileage, Honda Activa 6G review, TVS Jupiter top speed, Activa 6G vs Jupiter comparison, TVS vs Honda scooter, Activa 6G vs Jupiter braking & suspension, Honda Activa vs Jupiter which is better " />
    <meta name="description" content="Compare Honda Activa 6G vs TVS Jupiter on mileage, features, ride quality, and price. Discover which 110cc scooter gives better value in 2025. " />
}
<div class="m-t90">


    @await Html.PartialAsync("_CompareTable", Model)
</div>
<div class="google-ad">
    <ins class="adsbygoogle"
         style="display:inline-block;width:1000px;height:200px"
         data-ad-client="ca-pub-8720291170595920"
         data-ad-slot="6204553210">
    </ins>
</div>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
@await Html.PartialAsync("_AllComponent")  