@model CompareViewModel

@{
    ViewData["Title"] = "Honda Unicorn vs Suzuki Gixxer – 150cc Duel ";
}
@section MetaTags {
    <meta name="keywords" content="Honda Unicorn vs Suzuki Gixxer, Unicorn vs Gixxer comparison, Gixxer 155 vs Unicorn 160,Honda Unicorn mileage, Suzuki Gixxer features, Best 150cc bike in India 2025, Gixxer vs Unicorn real mileage, Honda Unicorn review 2025, Suzuki Gixxer top speed, Unicorn vs Gixxer performance, Suzuki vs Honda bike comparison, Unicorn vs Gixxer specs, Honda Unicorn vs Gixxer price, Gixxer vs Unicorn comfort, Which is better: Gixxer or Unicorn? " />
    <meta name="description" content="Compare Honda Unicorn and Suzuki Gixxer on mileage, specs, price, and performance. Find out which 150cc bike fits your riding style and budget in 2025. " />
}
<div class="m-t90">


    @await Html.PartialAsync("_CompareTable", Model)
</div>
<div class="google-ad">
    <ins class="adsbygoogle"
         style="display:inline-block;width:1000px;height:200px"
         data-ad-client="ca-pub-8720291170595920"
         data-ad-slot="6204553210">
    </ins>
</div>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
@await Html.PartialAsync("_AllViewComponent")