@model CompareViewModel

@{
    ViewData["Title"] = "TVS Apache RR 310 vs Royal Enfield Bullet 350";
}
<div class="m-t90">
 
    <!-- Use shared comparison table -->
    @Html.Partial("_CompareTable", Model)
</div>