@model CompareViewModel

@{
    ViewData["Title"] = "Hunter 350 vs TVS Ronin – Retro Roadster Fight ";
}
@section MetaTags {
    <meta name="keywords" content="Royal Enfield Hunter 350 vs TVS Ronin, Hunter 350 vs Ronin comparison, TVS Ronin vs Hunter 350 specs, Royal Enfield Hunter 350 review, TVS Ronin top speed, Hunter 350 vs Ronin price, Best retro bike under 2 lakh, Hunter 350 mileage vs Ronin, TVS Ronin features 2025, Royal Enfield vs TVS bike comparison, Hunter 350 vs Ronin performance, TVS Ronin vs Hunter comfort, Hunter 350 vs Ronin riding position, Ronin vs Hunter which is better, Retro motorcycle comparison India " />
    <meta name="description" content="Compare Royal Enfield Hunter 350 and TVS Ronin on design, performance, mileage, and price. Find out which retro-styled bike fits your lifestyle in 2025. " />
}
<div class="m-t90">
   

    @await Html.PartialAsync("_CompareTable", Model)
</div>
<div class="google-ad">
    <ins class="adsbygoogle"
         style="display:inline-block;width:1000px;height:200px"
         data-ad-client="ca-pub-8720291170595920"
         data-ad-slot="6204553210">
    </ins>
</div>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
@await Html.PartialAsync("_AllViewComponent") 