@model CompareViewModel

@{
    ViewData["Title"] = "Access 125 vs TVS Jupiter – 2025 Scooter Battle ";
}
@section MetaTags {
    <meta name="keywords" content="Access 125 vs TVS Jupiter, Suzuki Access 125 vs Jupiter comparison, Access 125 vs Jupiter mileage, Best 125cc scooter in India 2025, TVS Jupiter 125 review, Suzuki Access 125 specs, Access 125 vs Jupiter features, Access 125 vs Jupiter price, Jupiter vs Access real-world mileage, Access 125 vs Jupiter performance, TVS Jupiter vs Suzuki Access ride quality, Suzuki vs TVS scooter comparison, TVS Jupiter top speed, Access 125 vs Jupiter comfort, Which is better: Access 125 or Jupiter?" />
    <meta name="description" content="Compare Suzuki Access 125 and TVS Jupiter on mileage, price, features, and performance. Find out which 125cc scooter is better for your daily ride in 2025. " />
}
<div class="m-t90">


    @await Html.PartialAsync("_CompareTable", Model)
</div>
<div class="google-ad">
    <ins class="adsbygoogle"
         style="display:inline-block;width:1000px;height:200px"
         data-ad-client="ca-pub-8720291170595920"
         data-ad-slot="6204553210">
    </ins>
</div>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
@await Html.PartialAsync("_AllViewComponent")  