@model CompareViewModel

@{
    ViewData["Title"] = "Activa 125 vs TVS Jupiter – Best Scooter 2025? ";
}
@section MetaTags {
    <meta name="keywords" content="Activa 125 vs TVS Jupiter, Honda Activa vs TVS Jupiter comparison, TVS Jupiter mileage vs Activa 125, Activa 125 vs Jupiter price, Best scooter in India 2025, Honda Activa 125 review, TVS Jupiter features and specs, Honda vs TVS scooter comparison, TVS Jupiter top speed, Activa 125 vs Jupiter comfort, TVS Jupiter vs Activa real mileage, 125cc vs 110cc scooter comparison, Activa 125 vs Jupiter ride quality, TVS Jupiter price 2025, Which is better: Activa or Jupiter? " />
    <meta name="description" content="Compare Honda Activa 125 vs TVS Jupiter on mileage, price, features, performance, and comfort. Find out which scooter offers better value in 2025. " />
}
<div class="m-t90">
    @* @Html.RenderPartial("_CompareTable", Model) *@

     @await Html.PartialAsync("_CompareTable", Model)
</div>