@model CompareViewModel

@{
    ViewData["Title"] = "Activa 125 vs Access 125 – Scooter Face-Off ";
}
@section MetaTags {
    <meta name="keywords" content="Activa 125 vs Access 125, Honda Activa vs Suzuki Access, Activa 125 mileage vs Access 125, Best 125cc scooter in India 2025, Suzuki Access 125 vs Honda Activa 125, Activa 125 price 2025, Access 125 features, Activa vs Access comparison, Honda Activa 125 review, Access 125 mileage real world, Activa 125 vs Access performance, Access 125 vs Activa specs, Honda vs Suzuki scooter comparison, 125cc scooter mileage comparison, Activa vs Access which is better " />
    <meta name="description" content="Compare Honda Activa 125 vs Suzuki Access 125 on mileage, features, price, performance, and comfort. Find out which 125cc scooter suits you best in 2025. " />
}
<div class="m-t90">


    @await Html.PartialAsync("_CompareTable", Model)
</div>
<div class="google-ad">
    <ins class="adsbygoogle"
         style="display:inline-block;width:1000px;height:200px"
         data-ad-client="ca-pub-8720291170595920"
         data-ad-slot="6204553210">
    </ins>
</div>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
@await Html.PartialAsync("_AllViewComponent")