@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <meta charset="UTF-8">
    <title>Bootstrap Horizontal Scroll Cards</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .scroll-container {
            position: relative;
        }

        .scroll-btn {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 2;
            background-color: rgba(0, 0, 0, 0.6);
            border: none;
            color: white;
            padding: 10px;
            cursor: pointer;
            border-radius: 50%;
        }

        .scroll-left {
            left: 10px;
        }

        .scroll-right {
            right: 10px;
        }

        .card-wrapper {
            display: flex;
            overflow-x: auto;
            scroll-behavior: smooth;
            gap: 1rem;
            padding: 1rem;
        }

            .card-wrapper::-webkit-scrollbar {
                display: none;
            }

        .card {
            flex: 0 0 auto;
            width: 333px;
            height: 250px;
        }
        .compare-card {
   height: 150px;  
     cursor: pointer; 
 } 

/* .compare-card .card-body { */
/*     padding: 10px; */
/* } */

/* .compare-card .btn { */
/*     background-color: white; */
/*     color: #000; */
/*     border: 1px solid #ccc; */
/*     width: 100%; */
/* } */

    </style>
</head>
<body>
<div class="header-img"><img src="~/images/main-slider/header.png" /></div>
<div class="container py-4">
    <h3 class="mb-3">Compare Bikes </h3>

    <div class="scroll-container">
        <button class="scroll-btn scroll-left" onclick="scrollLeft()">&#8249;</button>
            @* <button class="scroll-btn scroll-left" onclick="scrollLeft(this)">&#9664;</button> //Make Scroll Buttons Work with Multiple Carousels *@
        <div class="card-wrapper" id="cardContainer">
                @* <div class="card" role="button" tabindex="0" onclick="compareByNames('Honda Activa 125', 'TVS Jupiter')"> *@
                <div class="card" role="button" tabindex="0" onclick="navigateToComparePage('Honda Activa 125', 'TVS Jupiter')">
                    <img src="/images/RE vs Jawa.webp" class="card-img-top" alt="Honda Activa 125 vs TVS Jupiter">
                    <div class="card-body d-flex flex-column align-items-center">
                            <p class="card-text">Honda Activa 125 vs TVS Jupiter </p>
                        @* <button class="btn btn-primary ml-10 mt-2" onclick="event.stopPropagation(); compareByNames('Honda Activa 125', 'TVS Jupiter');"> *@
                        @*     Compare *@
                        @* </button> *@
                        @* <button class="btn btn-light btn-block w-100 mt-auto"  onclick="location.href='/Compare/Honda-Activa-125-vs-TVS-Jupiter'">Click</button>  *@

                    </div>
                </div>

                <div class="card" role="button" tabindex="0" onclick="navigateToComparePage('TVS Apache RR 310', 'Royal Enfield Bullet 350')">
                    <img src="/images/blogs/2025/may/top5royalenfieldbikesinindia/RE Shotgun 650.webp" class="card-img-top" alt="TVS Apache RR 310 vs Royal Enfield Bullet 350">
                    <div class="card-body d-flex flex-column align-items-center">
                        <p class="card-text">TVS Apache RR 310 vs Royal Enfield Bullet 350 </p>
                        <button class="btn btn-light btn-block w-100 mt-auto" onclick="location.href='/Compare/TVS-Apache-RR-310-vs-Royal-Enfield-Bullet-350'">Click</button>
                    </div>
                </div>

                <div class="card" role="button" tabindex="0" onclick="compareByNames('Royal Enfield Hunter 350', 'TVS Ronin')">
                    <img src="/images/blogs/2025/may/top5royalenfieldbikesinindia/reclassic350.webp" class="card-img-top" alt="Royal Enfield Hunter 350  vs TVS Ronin">
                    <div class="card-body">
                        <p class="card-text">Royal Enfield Hunter 350 vs TVS Ronin </p>
                    </div>
                </div>

                <div class="card" role="button" tabindex="0" onclick="compareByNames('Honda Activa 125 FI', 'Suzuki New Access 125')">
                    <img src="/images/blogs/2025/may/top5royalenfieldbikesinindia/reclassic350.webp" class="card-img-top" alt="Honda Activa 125 FI vs Suzuki New Access 125">
                    <div class="card-body">
                        <p class="card-text">Honda Activa 125  vs Suzuki Access 125 </p>
                    </div>
                </div>

                <div class="card" role="button" tabindex="0" onclick="compareByNames('Honda Activa 6G', 'Honda Activa 125')">
                    <img src="/images/blogs/2025/may/top5royalenfieldbikesinindia/reclassic350.webp" class="card-img-top" alt="Honda Activa 6G vs Honda Activa 125">
                    <div class="card-body">
                        <p class="card-text">Honda Activa 6G vs Honda Activa 125 </p>
                    </div>
                </div>

                <div class="card" role="button" tabindex="0" onclick="compareByNames('Bajaj Pulsar RS 200', 'Hero Karizma ZMR')">
                    <img src="/images/blogs/2025/may/top5royalenfieldbikesinindia/reclassic350.webp" class="card-img-top" alt="Bajaj Pulsar RS 200 vs Hero Karizma ZMR">
                    <div class="card-body">
                        <p class="card-text">Bajaj Pulsar RS200 vs Hero Karizma XMR</p>
                    </div>
                </div>

                <div class="card" role="button" tabindex="0" onclick="compareByNames('Kawasaki Ninja H2R', 'Kawasaki Ninja H2')">
                    <img src="/images/blogs/2025/may/top5royalenfieldbikesinindia/reclassic350.webp" class="card-img-top" alt="Kawasaki Ninja H2R vs Kawasaki Ninja H2">
                    <div class="card-body">
                        <p class="card-text">Kawasaki Ninja H2R vs Kawasaki Ninja H2</p>
                    </div>
                </div>

                <div class="card" role="button" tabindex="0" onclick="compareByNames('Suzuki Hayabusa', 'Kawasaki Ninja ZX-10R')">
                    <img src="/images/blogs/2025/may/top5royalenfieldbikesinindia/reclassic350.webp" class="card-img-top" alt="Suzuki Hayabusa vs Kawasaki Ninja ZX-10R">
                    <div class="card-body">
                        <p class="card-text">Suzuki Hayabusa vs Kawasaki Ninja</p>
                    </div>
                </div>
                @*
                <div class="card" role="button" tabindex="0" onclick="compareByNames('Suzuki Hayabusa', 'Kawasaki Ninja ZX-14R')">
                    <img src="/images/blogs/2025/may/top5royalenfieldbikesinindia/reclassic350.webp" class="card-img-top" alt="Suzuki Hayabusa vs Kawasaki Ninja ZX-14R">
                    <div class="card-body">
                        <p class="card-text">Suzuki Hayabusa vs Kawasaki Ninja ZX-14R</p>
                    </div>
                </div>

                <div class="card" role="button" tabindex="0" onclick="compareByNames('Suzuki Hayabusa', 'Kawasaki Ninja H2')">
                    <img src="/images/blogs/2025/may/top5royalenfieldbikesinindia/reclassic350.webp" class="card-img-top" alt="Suzuki Hayabusa vs Kawasaki Ninja H2">
                    <div class="card-body">
                        <p class="card-text">Suzuki Hayabusa vs Kawasaki Ninja H2</p>
                    </div>
                </div>

                <div class="card" role="button" tabindex="0" onclick="compareByNames('Yamaha YZF R15 V4.0', 'Yamaha R15 V3.0')">
                    <img src="/images/blogs/2025/may/top5royalenfieldbikesinindia/reclassic350.webp" class="card-img-top" alt="Yamaha YZF R15 V4.0 vs Yamaha R15 V3.0">
                    <div class="card-body">
                        <p class="card-text">Yamaha YZF R15 V4.0 vs Yamaha R15 V3.0</p>
                    </div>
                </div>
                *@
                <div class="card" role="button" tabindex="0" onclick="compareByNames('Yamaha MT-15', 'KTM 200 Duke')">
                    <img src="/images/blogs/2025/may/top5royalenfieldbikesinindia/reclassic350.webp" class="card-img-top" alt="Yamaha MT-15 vs KTM 200 Duke">
                    <div class="card-body">
                        <p class="card-text">Yamaha MT-15 Ver2.0 vs KTM 200 Duke</p>
                    </div>
                </div>

                <div class="card" role="button" tabindex="0" onclick="compareByNames('KTM RC 200', 'KTM 200 Duke')">
                    <img src="/images/blogs/2025/may/top5royalenfieldbikesinindia/reclassic350.webp" class="card-img-top" alt="KTM RC 200 vs KTM 200 Duke">
                    <div class="card-body">
                        <p class="card-text">KTM RC 200 vs KTM 200 Duke</p>
                    </div>
                </div>

                <div class="card" role="button" tabindex="0" onclick="compareByNames('Yamaha MT-15', 'Yamaha R15 V3.0')">
                    <img src="/images/blogs/2025/may/top5royalenfieldbikesinindia/reclassic350.webp" class="card-img-top" alt="Yamaha MT-15 vs Yamaha R15 V3.0">
                    <div class="card-body">
                        <p class="card-text">Yamaha MT-15 vs Yamaha R15 V3.0</p>
                    </div>
                </div>

                <div class="card" role="button" tabindex="0" onclick="compareByNames('Kawasaki Ninja ZX-10R', 'BMW S 1000 RR')">
                    <img src="/images/blogs/2025/may/top5royalenfieldbikesinindia/reclassic350.webp" class="card-img-top" alt="Kawasaki Ninja ZX-10R vs BMW S 1000 RR">
                    <div class="card-body">
                        <p class="card-text">Kawasaki Ninja  vs BMW S 1000 RR</p>
                    </div>
                </div>

                <div class="card" role="button" tabindex="0" onclick="compareByNames('Yamaha R15 V3.0', 'KTM RC 200')">
                    <img src="/images/blogs/2025/may/top5royalenfieldbikesinindia/reclassic350.webp" class="card-img-top" alt="Yamaha R15 V3.0 vs KTM RC 200 ">
                    <div class="card-body">
                        <p class="card-text">Yamaha R15 V4 vs KTM RC 200 </p>
                    </div>
                </div>
                <div class="card" role="button" tabindex="0" onclick="compareByNames('Yamaha YZF R15 V4.0', 'KTM RC 390')">
                    <img src="/images/blogs/2025/may/top5royalenfieldbikesinindia/reclassic350.webp" class="card-img-top" alt="Yamaha YZF R15 V4.0 vs KTM RC 390">
                    <div class="card-body">
                        <p class="card-text">Yamaha YZF R15 V4 vs KTM 390</p>
                    </div>
                </div>
                @*
                <div class="card" role="button" tabindex="0" onclick="compareByNames('KTM RC 390', 'KTM 390 Duke')">
                    <img src="/images/blogs/2025/may/top5royalenfieldbikesinindia/reclassic350.webp" class="card-img-top" alt="KTM RC 390 vs KTM 390 Duke">
                    <div class="card-body">
                        <p class="card-text">KTM RC 390 vs KTM 390 Duke</p>
                    </div>
                </div>
                *@
                <div class="card" role="button" tabindex="0" onclick="compareByNames('Kawasaki Ninja ZX-10RR', 'BMW S 1000 RR')">
                    <img src="/images/blogs/2025/may/top5royalenfieldbikesinindia/reclassic350.webp" class="card-img-top" alt="Kawasaki Ninja ZX-10RR vs BMW S 1000 RR">
                    <div class="card-body">
                        <p class="card-text">Kawasaki Ninja vs BMW S 1000 RR</p>
                    </div>
                </div>

                <div class="card" role="button" tabindex="0" onclick="compareByNames('Kawasaki Ninja H2R', 'Suzuki Hayabusa')">
                    <img src="/images/blogs/2025/may/top5royalenfieldbikesinindia/reclassic350.webp" class="card-img-top" alt="Kawasaki Ninja H2R vs Suzuki Hayabusa">
                    <div class="card-body">
                        <p class="card-text">Kawasaki Ninja H2R vs Suzuki Hayabusa</p>
                    </div>
                </div>

                <div class="card" role="button" tabindex="0" onclick="compareByNames('Honda Activa 125 FI', 'TVS Ntorq 125')">
                    <img src="/images/blogs/2025/may/top5royalenfieldbikesinindia/reclassic350.webp" class="card-img-top" alt="Honda Activa 125 FI vs TVS Ntorq 125">
                    <div class="card-body">
                        <p class="card-text">Honda Activa 125 FI vs TVS Ntorq 125</p>
                    </div>
                </div>

                <div class="card" role="button" tabindex="0" onclick="compareByNames('Honda Activa 6G', 'TVS Jupiter')">
                    <img src="/images/blogs/2025/may/top5royalenfieldbikesinindia/reclassic350.webp" class="card-img-top" alt="Honda Activa 6G vs TVS Jupiter">
                    <div class="card-body">
                        <p class="card-text">Honda Activa 6G vs TVS Jupiter</p>
                    </div>
                </div>

                <div class="card" role="button" tabindex="0" onclick="compareByNames('Honda Activa 125', 'TVS Jupiter')">
                    <img src="/images/blogs/2025/may/top5royalenfieldbikesinindia/reclassic350.webp" class="card-img-top" alt="Honda Activa 125 vs TVS Jupiter">
                    <div class="card-body">
                        <p class="card-text">Honda Activa 125 vs TVS Jupiter</p>
                    </div>
                </div>
                @*
                <div class="card" role="button" tabindex="0" onclick="compareByNames('Honda Activa 125 FI', 'Suzuki New Access 125')">
                    <img src="/images/blogs/2025/may/top5royalenfieldbikesinindia/reclassic350.webp" class="card-img-top" alt="Honda Activa 125 FI vs Suzuki New Access 125">
                    <div class="card-body">
                        <p class="card-text">Honda Activa 125 FI vs Suzuki New Access 125</p>
                    </div>
                </div>
                
                <div class="card" role="button" tabindex="0" onclick="compareByNames('Honda Activa 6G', 'Honda Activa 125')">
                    <img src="/images/blogs/2025/may/top5royalenfieldbikesinindia/reclassic350.webp" class="card-img-top" alt="Honda Activa 6G vs Honda Activa 125">
                    <div class="card-body">
                        <p class="card-text">Honda Activa 6G vs Honda Activa 125</p>
                    </div>
                </div>

                <div class="card" role="button" tabindex="0" onclick="compareByNames('Honda Activa 6G', 'Honda Activa 125 FI')">
                    <img src="/images/blogs/2025/may/top5royalenfieldbikesinindia/reclassic350.webp" class="card-img-top" alt="Honda Activa 6G vs Honda Activa 125 FI">
                    <div class="card-body">
                        <p class="card-text">Honda Activa 6G vs Honda Activa 125 FI</p>
                    </div>
                </div>

                <div class="card" role="button" tabindex="0" onclick="compareByNames('Honda Activa 125', 'Suzuki Access 125')">
                    <img src="/images/blogs/2025/may/top5royalenfieldbikesinindia/reclassic350.webp" class="card-img-top" alt="Honda Activa 125 vs Suzuki Access 125">
                    <div class="card-body">
                        <p class="card-text">Honda Activa 125 vs Suzuki Access 125</p>
                    </div>
                </div>
                *@
                <div class="card" role="button" tabindex="0" onclick="compareByNames('Ola Electric S1 X', 'Ather 450X')">
                    <img src="/images/blogs/2025/may/top5royalenfieldbikesinindia/reclassic350.webp" class="card-img-top" alt="Ola Electric S1 X vs Ather 450X">
                    <div class="card-body">
                        <p class="card-text">Ola Electric S1 X vs Ather 450X</p>
                    </div>
                </div>

                
                
                <div class="card" role="button" tabindex="0" onclick="compareByNames('Suzuki Access 125', 'TVS Jupiter')">
                    <img src="/images/blogs/2025/may/top5royalenfieldbikesinindia/reclassic350.webp" class="card-img-top" alt="Suzuki Access 125 vs TVS Jupiter">
                    <div class="card-body">
                        <p class="card-text">Suzuki Access 125 vs TVS Jupiter</p>
                    </div>
                </div>

                <div class="card" role="button" tabindex="0" onclick="compareByNames('TVS Jupiter 125', 'Honda Activa 6G')">
                    <img src="/images/blogs/2025/may/top5royalenfieldbikesinindia/reclassic350.webp" class="card-img-top" alt="TVS Jupiter 125 vs Honda Activa 6G">
                    <div class="card-body">
                        <p class="card-text">TVS Jupiter 125 vs Honda Activa 6G</p>
                    </div>
                </div>

                <div class="card" role="button" tabindex="0" onclick="compareByNames('TVS iQube', 'Bajaj Chetak')">
                    <img src="/images/blogs/2025/may/top5royalenfieldbikesinindia/reclassic350.webp" class="card-img-top" alt="TVS iQube vs Bajaj Chetak">
                    <div class="card-body">
                        <p class="card-text">TVS iQube vs Bajaj Chetak</p>
                    </div>
                </div>

                <div class="card" role="button" tabindex="0" onclick="compareByNames('TVS Ntorq 125', 'Suzuki Burgman')">
                    <img src="/images/blogs/2025/may/top5royalenfieldbikesinindia/reclassic350.webp" class="card-img-top" alt="TVS Ntorq 125 vs Suzuki Burgman">
                    <div class="card-body">
                        <p class="card-text">TVS Ntorq 125 vs Suzuki Burgman</p>
                    </div>
                </div>

                <div class="card" role="button" tabindex="0" onclick="compareByNames('Royal Enfield Hunter 350', 'TVS Ronin')">
                    <img src="/images/blogs/2025/may/top5royalenfieldbikesinindia/reclassic350.webp" class="card-img-top" alt="Royal Enfield Hunter 350 vs TVS Ronin">
                    <div class="card-body">
                        <p class="card-text">Royal Enfield Hunter 350 vs TVS Ronin</p>
                    </div>
                </div>
                <div class="card" role="button" tabindex="0" onclick="compareByNames('Hero Honda Splendor Plus', 'Hero HF Deluxe')">
                    <img src="/images/blogs/2025/may/top5royalenfieldbikesinindia/reclassic350.webp" class="card-img-top" alt="Hero Honda Splendor Plus vs Hero HF Deluxe">
                    <div class="card-body">
                        <p class="card-text">Hero Honda Splendor Plus vs Hero HF Deluxe</p>
                    </div>
                </div>

                <div class="card" role="button" tabindex="0" onclick="compareByNames('TVS Sport', 'Bajaj CT 100')">
                    <img src="/images/blogs/2025/may/top5royalenfieldbikesinindia/reclassic350.webp" class="card-img-top" alt="TVS Sport vs Bajaj CT 100">
                    <div class="card-body">
                        <p class="card-text">TVS Sport vs Bajaj CT 100</p>
                    </div>
                </div>

                <div class="card" role="button" tabindex="0" onclick="compareByNames('Bajaj Platina 110', 'TVS Sport')">
                    <img src="/images/blogs/2025/may/top5royalenfieldbikesinindia/reclassic350.webp" class="card-img-top" alt="Bajaj Platina 110 vs TVS Sport">
                    <div class="card-body">
                        <p class="card-text">Bajaj Platina 110 vs TVS Sport</p>
                    </div>
                </div>

                <div class="card" role="button" tabindex="0" onclick="compareByNames('Bajaj Pulsar 150', 'TVS Apache RTR 160')">
                    <img src="/images/blogs/2025/may/top5royalenfieldbikesinindia/reclassic350.webp" class="card-img-top" alt="Bajaj Pulsar 150 vs TVS Apache RTR 160">
                    <div class="card-body">
                        <p class="card-text">Bajaj Pulsar 150 vs TVS Apache RTR 160</p>
                    </div>
                </div>

                <div class="card" role="button" tabindex="0" onclick="compareByNames('TVS Radeon', 'Hero Splendor Plus')">
                    <img src="/images/blogs/2025/may/top5royalenfieldbikesinindia/reclassic350.webp" class="card-img-top" alt="TVS Radeon vs Hero Splendor Plus">
                    <div class="card-body">
                        <p class="card-text">TVS Radeon vs Hero Splendor Plus</p>
                    </div>
                </div>

                <div class="card" role="button" tabindex="0" onclick="compareByNames('TVS Radeon', 'Hero Honda Splendor Super')">
                    <img src="/images/blogs/2025/may/top5royalenfieldbikesinindia/reclassic350.webp" class="card-img-top" alt="TVS Radeon vs Hero Honda Splendor Super">
                    <div class="card-body">
                        <p class="card-text">TVS Radeon vs Hero Honda Splendor Super</p>
                    </div>
                </div>

                <div class="card" role="button" tabindex="0" onclick="compareByNames('Yamaha MT-15', 'KTM 125 Duke')">
                    <img src="/images/blogs/2025/may/top5royalenfieldbikesinindia/reclassic350.webp" class="card-img-top" alt="Yamaha MT-15 vs KTM 125 Duke">
                    <div class="card-body">
                        <p class="card-text">Yamaha MT-15 Ver 2.0 vs KTM 125 Duke</p>
                    </div>
                </div>

                <div class="card" role="button" tabindex="0" onclick="compareByNames('Bajaj Pulsar 125', 'Bajaj Pulsar 150')">
                    <img src="/images/blogs/2025/may/top5royalenfieldbikesinindia/reclassic350.webp" class="card-img-top" alt="Bajaj Pulsar 125 vs Bajaj Pulsar 150">
                    <div class="card-body">
                        <p class="card-text">Bajaj Pulsar 125 vs Bajaj Pulsar 150</p>
                    </div>
                </div>

                <div class="card" role="button" tabindex="0" onclick="compareByNames('Yamaha MT-15 V2.0', 'Bajaj Pulsar 200 NS')">
                    <img src="/images/blogs/2025/may/top5royalenfieldbikesinindia/reclassic350.webp" class="card-img-top" alt="Yamaha MT-15 V2.0 vs Bajaj Pulsar 200 NS">
                    <div class="card-body">
                        <p class="card-text">Yamaha MT-15 V2.0 vs Bajaj Pulsar 200 NS</p>
                    </div>
                </div>
                @*
                <div class="card" role="button" tabindex="0" onclick="compareByNames('TVS Apache RTR 160', 'Bajaj Pulsar AS 150')">
                    <img src="/images/blogs/2025/may/top5royalenfieldbikesinindia/reclassic350.webp" class="card-img-top" alt="TVS Apache RTR 160 vs Bajaj Pulsar AS 150">
                    <div class="card-body">
                        <p class="card-text">TVS Apache RTR 160 vs Bajaj Pulsar AS 150</p>
                    </div>
                </div>
                *@
                <div class="card" role="button" tabindex="0" onclick="compareByNames('Bajaj Pulsar RS 200', 'Bajaj Pulsar 200 NS')">
                    <img src="/images/blogs/2025/may/top5royalenfieldbikesinindia/reclassic350.webp" class="card-img-top" alt="Bajaj Pulsar RS 200 vs Bajaj Pulsar 200 NS">
                    <div class="card-body">
                        <p class="card-text">Bajaj Pulsar RS 200 vs Bajaj Pulsar  NS200</p>
                    </div>
                </div>

                <div class="card" role="button" tabindex="0" onclick="compareByNames('TVS Apache RTR 160 4V', 'Bajaj Discover 125')">
                    <img src="/images/blogs/2025/may/top5royalenfieldbikesinindia/reclassic350.webp" class="card-img-top" alt="TVS Apache RTR 160 4V vs Bajaj Discover 125">
                    <div class="card-body">
                        <p class="card-text">TVS Apache RTR 160 4V vs Bajaj Discover 125</p>
                    </div>
                </div>

                <div class="card" role="button" tabindex="0" onclick="compareByNames('Suzuki Intruder', 'TVS Apache RTR 160')">
                    <img src="/images/blogs/2025/may/top5royalenfieldbikesinindia/reclassic350.webp" class="card-img-top" alt="Suzuki Intruder vs TVS Apache RTR 160">
                    <div class="card-body">
                        <p class="card-text">Suzuki Intruder vs TVS Apache RTR 160</p>
                    </div>
                </div>

                <div class="card" role="button" tabindex="0" onclick="compareByNames('Honda X-Blade', 'Suzuki Intruder')">
                    <img src="/images/blogs/2025/may/top5royalenfieldbikesinindia/reclassic350.webp" class="card-img-top" alt="Honda X-Blade vs Suzuki Intruder">
                    <div class="card-body">
                        <p class="card-text">Honda X-Blade vs Suzuki Intruder</p>
                    </div>
                </div>





            </div>

        <button class="scroll-btn scroll-right" onclick="scrollRight()">&#8250;</button>
        </div>
</div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    /*
    const container = document.getElementById('cardContainer');

    function scrollLeft() {
             const leftcontainer = document.querySelector('.card-wrapper');
            // const leftcontainer = button.parentElement.querySelector('.card-wrapper'); Make Scroll Buttons Work with Multiple Carousels
             leftcontainer.scrollBy({ left: -220, behavior: 'smooth' });
    }

    function scrollRight() {
      container.scrollBy({ left: 220, behavior: 'smooth' });
    }
        function compareByNames(bikeName1, bikeName2) {
        $.ajax({
        url: '/Compare/GetVariantIdsByNames',
        type: 'GET',
        data: { name1: bikeName1, name2: bikeName2 },
        success: function (response) {
        if (response.success) {
        // Redirect to comparison page with the fetched IDs
                 window.location.href = `/Compare/TWCompareTwoBikes?variant1=${response.v1}&variant2=${response.v2}`;
                        //window.location.href = `/Compare/GetVariantIdsByNames?variant1=${response.bikeName1}&variant2=${response.bikeName2}`;
        } else {
            alert(response.message ||  "Bikes not found or incomplete data.");
        }
        },
            error: function (xhr, status, error) {
                console.log("Error occurred: " + error);
                console.log("Status: " + status);
                console.log("Response Text: " + xhr.responseText);
        alert("Error occurred while fetching data.");
        }
        });
        }
        */
</script>

<script>
       /*
        function slugify(name) {
            return name.toLowerCase().replace(/[^a-z0-9]+/g, '-').replace(/^-+|-+$/g, '');
        }

        function navigateToComparePage(bikeName1, bikeName2) {
            const slug1 = slugify(bikeName1);
            const slug2 = slugify(bikeName2);
            const compareUrl = `/compare/${slug1}-vs-${slug2}`;
            window.location.href = compareUrl;
        }
       */
 
        function navigateToComparePage(bike1, bike2) {
            const urlBike1 = encodeURIComponent(bike1.replace(/\s+/g, '-'));
            const urlBike2 = encodeURIComponent(bike2.replace(/\s+/g, '-'));
            const url = `/Compare/${urlBike1}-vs-${urlBike2}`;
            window.location.href = url;
        }
  

</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>